<table>
	<tr>
		<td>
			<h1>Listing groups</h1>
			<p><font color="red"><%= notice %></font></p>
			
			<%= form_tag groups_path, :method=>'get' do %>
				<%= hidden_field_tag :direction, params[:direction] %>
				<%= hidden_field_tag :sort, params[:sort] %>
				<p>
					<%= text_field_tag :search, params[:search] %>
					<%= submit_tag "Search", :name=>nil %>
				</p>
				
			<% end %>
			
			<table border=1 id="groupTb">
			  <tr>
			    <th><%= sortable "name" %></th>
			    <th><%= sortable "category_id", "Category" %></th>
			    <th><%= sortable "department_id", "Department" %></th>
			    <th></th>
			    <th></th>
			  </tr>
			
			<% @groups.each do |group| %>
			  <tr class="node <%= cycle("even", "odd")%>" onclick="showMsg(<%= group.id%>, this)">
			    <td><%= link_to (group.name), viewNestGroup_path(group) %></td>
			    <td><%= GroupCategory.find_by_id(group.category_id).category_name%></td>
			    <td><%= group.department_id %></td>
			   
			    <td><%= link_to 'Edit', edit_group_path(group) %></td>
			    <td><%= link_to 'Destroy', group, :confirm => 'Are you sure?', :method => :delete %></td>
			  </tr>
			<% end %>
			</table>
			
			<br />
			
			<%= button_to 'Add', new_group_path, :method=>"get" %>
			
			<p><%= will_paginate @groups %></p>
		</td>
		<td valign="top">
			
			<h1>Listing Nested Groups</h1>

			<table border=1>
			  <tr>
			    <th>Name</th>
			    <th>Category</th>
			    <th>Department</th>
			    <th></th>
			    <th></th>
			  </tr>
			<div id="#nestings">
			<% @group_nestings.each do |group_nesting| %>
			  <tr>
			    <td><%= group_nesting.parent_id %></td>
			    <td><%= group_nesting.group_id %></td>

			    <td><%= link_to 'Edit', edit_group_nesting_path(group_nesting) %></td>
			    <td><%= link_to 'Destroy', group_nesting, :confirm => 'Are you sure?', :method => :delete %></td>
			  </tr>
			<% end %>
			</div>
			</table>
			
			<br />
			
			<!--<%= button_to 'Add', group_nestings_path, :method=>"get", :disabled=>true, :id=>'addNesting', :onclick=>"exGroup()" %>-->
			<%= button_to 'Add', new_group_nesting_path, :method=>"get", :disabled=>true, :id=>"addNesting", :onclick=>"exGroup()"%>
		</td>
	</tr>
</table>
