<!DOCTYPE html>
<html>
<head>
  <title>GroupConfig</title>
  <%= stylesheet_link_tag "group"%>
  <%= stylesheet_link_tag "scaffold", :media=>"all" %>
  <%= javascript_include_tag 'jquery-1.4.2.min', 'rails', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
